<template name="ArticleEdit">
  <div class="edit-article content mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--4dp">
    <form>
      <p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="title">Title:</label>
          <input class="mdl-textfield__input" type="text" id="title" name="title" value="{{title}}">
        </div>
      </p>
      <p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="body">Body:</label>
          <textarea class="mdl-textfield__input" name="body" id="body" rows="10">{{body}}</textarea>
        </div>
      </p>
      <p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          {{#if isEdit}}Update{{else}}Create{{/if}}
        </button>
      </p>
    </form>
  </div>
</template>
