<template name="ArticleEdit">
  <div class="article">
    <form>
      <p>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{title}}">
      </p>
      <p>
        <label for="body">Body:</label>
        <textarea name="body" id="body" rows="6">{{body}}</textarea>
      </p>
      <p>
        <input type="submit" value="{{#if isEdit}}Update{{else}}Create{{/if}}">
      </p>
    </form>
  </div>
  {{#if isEdit}}
    {{#linkTo route="article"}}Back{{/linkTo}}
  {{else}}
    {{#linkTo route="articles"}}Back{{/linkTo}}
  {{/if}}
</template>
