.mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;

  .mdl-card__supporting-text + & {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  a {
    color: #00BCD4;
    margin: 0;
  }

  .author {
    float: right;
    height: 36px;
    color: rgba(0, 0, 0, 0.26);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 36px;
    vertical-align: middle;
  }
}

.mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;

  .mdl-card__supporting-text {
    margin: 40px;
    flex-grow: 1;
    padding: 0;
    width: calc(100% - 80px);

    h4 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  & > * {
    height: auto;
  }
}

#new-article {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
