<template name="Article">
  <div class="content mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--4dp">
    <div class="demo-crumbs mdl-color-text--grey-500">
      Author: {{authorName}}
    </div>
    <h3>
      {{title}}
    </h3>
    {{#markdown}}{{body}}{{/markdown}}
  </div>
  <div class="comments content mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp">
    {{#each comments}}
      {{> CommentLine}}
    {{/each}}
    {{#if currentUser}}
      {{> CommentForm}}
    {{/if}}
  </div>
</template>
